flows (1).json
[{"id":"738b1bc046531413","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"022e6aded4e7c312","type":"ui_text","z":"738b1bc046531413","group":"ea4b592e7a26c268","order":0,"width":"2","height":"1","name":"Tag_main","label":"Tag principal:","format":"{{msg.payload}}","layout":"row-left","x":740,"y":220,"wires":[]},{"id":"b8427ab963ba9266","type":"ui_text","z":"738b1bc046531413","group":"ea4b592e7a26c268","order":0,"width":"2","height":"1","name":"Tag1","label":"Tag 1:","format":"{{msg.value1}}","layout":"row-left","x":730,"y":320,"wires":[]},{"id":"c25d398bc75866b5","type":"ui_text","z":"738b1bc046531413","group":"ea4b592e7a26c268","order":0,"width":"2","height":"1","name":"Tag2","label":"Tag 2:","format":"{{msg.value2}}","layout":"row-left","x":730,"y":360,"wires":[]},{"id":"870d920c6e69c0cc","type":"ui_text","z":"738b1bc046531413","group":"ea4b592e7a26c268","order":0,"width":"2","height":"1","name":"Tag3","label":"Tag 3:","format":"{{msg.value3}}","layout":"row-left","x":730,"y":420,"wires":[]},{"id":"9e24208b91729fa5","type":"ui_text","z":"738b1bc046531413","group":"ea4b592e7a26c268","order":0,"width":"2","height":"1","name":"Tag4","label":"Tag 4:","format":"{{msg.value4}}","layout":"row-left","x":730,"y":480,"wires":[]},{"id":"eaec7671f1a8c2db","type":"ui_text","z":"738b1bc046531413","group":"ea4b592e7a26c268","order":0,"width":"2","height":"1","name":"Tag5","label":"Tag 5:","format":"{{msg.value5}}","layout":"row-left","x":730,"y":520,"wires":[]},{"id":"d87d4bdfef0af145","type":"ui_text","z":"738b1bc046531413","group":"ea4b592e7a26c268","order":0,"width":"2","height":"1","name":"Tag6","label":"Tag 3:","format":"{{msg.value6}}","layout":"row-left","x":730,"y":580,"wires":[]},{"id":"6bd6ebd00d38525e","type":"http in","z":"738b1bc046531413","name":"main_tag","url":"/tag_main","method":"post","upload":false,"swaggerDoc":"","x":340,"y":260,"wires":[["022e6aded4e7c312"]]},{"id":"bf3c925d7d331104","type":"function","z":"738b1bc046531413","name":"","func":"\nvar str = msg.payload;\nvar parts = str.split(\",\");\nmsg.value1=parts[1];\nmsg.value2=parts[2];\nmsg.value3=parts[3];\nmsg.value4=parts[4];\nmsg.value5=parts[5];\nmsg.value6=parts[6];\n\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":520,"wires":[["b8427ab963ba9266","c25d398bc75866b5","870d920c6e69c0cc","9e24208b91729fa5","eaec7671f1a8c2db","d87d4bdfef0af145"]]},{"id":"c73dcde73cbe338b","type":"http in","z":"738b1bc046531413","name":"tags_presentes","url":"/present_tags","method":"post","upload":false,"swaggerDoc":"","x":120,"y":500,"wires":[["bf3c925d7d331104"]]},{"id":"e08c822d83490a41","type":"http in","z":"738b1bc046531413","name":"state","url":"/statebox","method":"post","upload":false,"swaggerDoc":"","x":210,"y":360,"wires":[["618307a9b5e81e4e"]]},{"id":"618307a9b5e81e4e","type":"ui_text","z":"738b1bc046531413","group":"ea4b592e7a26c268","order":0,"width":"3","height":"1","name":"state","label":"Estado:","format":"{{msg.payload}}","layout":"row-left","x":730,"y":280,"wires":[]},{"id":"f52c2e64fbba3293","type":"function","z":"738b1bc046531413","name":"button_click","func":"\n\nif(global.get(\"verificar\")){\n    msg.payload=\"verificar_caixa\";\n    global.set(\"verificar\",false);\n}\nelse if(global.get(\"adicionar_caixa\")){\n   \n    msg.payload=\"adicionar_caixa\";\n    global.set(\"adicionar_caixa\",false);\n    \n}\nelse if(global.get(\"adicionar_tag\")){\n    msg.payload=\"adicionar_tag\";\n    global.set(\"adicionar_tag\",false);\n}\nelse{ msg.payload=\"not_clicked\";}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":780,"wires":[["44ca8f535901f2e7","d1fbfdc8d4b1c226"]]},{"id":"d1fbfdc8d4b1c226","type":"http response","z":"738b1bc046531413","name":"","statusCode":"200","headers":{"content-type":"text/plain"},"x":840,"y":840,"wires":[]},{"id":"e1e8d7aa84542ea9","type":"http in","z":"738b1bc046531413","name":"","url":"/buton","method":"get","upload":false,"swaggerDoc":"","x":320,"y":800,"wires":[["f52c2e64fbba3293"]]},{"id":"44ca8f535901f2e7","type":"debug","z":"738b1bc046531413","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":880,"y":720,"wires":[]},{"id":"a6d24583ecbad00c","type":"ui_button","z":"738b1bc046531413","name":"Verificar","group":"f1eb6e67ec7fa38c","order":1,"width":0,"height":0,"passthru":true,"label":"Verificar caixa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":1040,"wires":[["e0f2468f03040573","5af5bfb9548b8fc5"]]},{"id":"e0f2468f03040573","type":"function","z":"738b1bc046531413","name":"button_click2","func":"if(msg.payload==\"1\"){\nglobal.set(\"verificar\",true);\n}else if(msg.payload==\"2\"){\n  global.set(\"adicionar_caixa\",true);\n}else if(msg.payload==\"3\"){\n    global.set(\"adicionar_tag\",true);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1000,"wires":[[]]},{"id":"5af5bfb9548b8fc5","type":"debug","z":"738b1bc046531413","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":420,"y":1180,"wires":[]},{"id":"5e30e1412b811a22","type":"ui_button","z":"738b1bc046531413","name":"adicionar_nova_tag","group":"f1eb6e67ec7fa38c","order":1,"width":0,"height":0,"passthru":false,"label":"adicionar nova tag","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"topic","topicType":"str","x":210,"y":1320,"wires":[["e0f2468f03040573","5af5bfb9548b8fc5"]]},{"id":"17069e18c8f6b70a","type":"ui_button","z":"738b1bc046531413","name":"adicionar_caixa","group":"f1eb6e67ec7fa38c","order":1,"width":0,"height":0,"passthru":false,"label":"adicionar nova caixa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"topic","topicType":"str","x":100,"y":1160,"wires":[["e0f2468f03040573","5af5bfb9548b8fc5"]]},{"id":"ea4b592e7a26c268","type":"ui_group","name":"leitura de tags","tab":"dd93aa09.db1158","order":2,"disp":true,"width":"6","collapse":false},{"id":"f1eb6e67ec7fa38c","type":"ui_group","name":"butões menu","tab":"dd93aa09.db1158","order":1,"disp":true,"width":"6","collapse":false},{"id":"dd93aa09.db1158","type":"ui_tab","name":"Dashboard tab","icon":"dashboard","disabled":false,"hidden":false}]